Novidade! Atalhos do teclado … Os atalhos de teclado do Drive foram atualizados para oferecer navegação por letras iniciais
body {
    color: rgb(236, 125, 236);
    background-color: rgb(247, 165, 236);
    border: solid 12px rgb(255, 226, 248);
    margin: 10px;
    font-family: "Sevillana", cursive;
} 
    header {
        border-bottom: solid 2px rgb(230, 123, 194);
        padding: 20px;
        font-size: 80px;
        color: rgb(94, 12, 73);
          } 
          section{
            display: flex;
            justify-content:center ;
            background:rgb(64, 4, 71);
            padding-top: 60px;
            padding-bottom: 60px;
          }
          .titulo-video{
         margin-right: 5%;
          }
          
