body {
  color: rgb(250, 7, 59);
  background-color: rgb(224, 15, 15);
  border: solid 12px rgb(8, 1, 1);
  margin: 20px;
  font-family: "Sevillana", cursive;
}

header {
  border-bottom: solid 2px rgb(65, 5, 10);
  padding: 20px;
  font-size: 80px;
  color: rgb(82, 4, 11);
}

.chamada {
  display: flex;
  justify-content: center;
  background: rgb(44, 1, 5);
  padding-top: 60px;
  padding-bottom: 60px;
}

.titulo-video {
  margin-right: 5%;
}
img {
  height: 200px;
}
.categoria-video{
  overflow: auto;
  display: flex;
  gap:10px;
}
.categoria-video img{
  height:200px;
  opacity: 0.5;
}
.categoria-video img:hover{
opacity: 1.0;
border: solid 1px rgb(220, 199, 240);
}
